@page
@model RazorWeb.Admin.Role.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Role creation</h1>

<hr />
<div class="row">
    <div class="col-md-6 center"  >
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="input.Name" class="control-label"></label>
                <input asp-for="input.Name" class="form-control mt-4" />
                <span asp-validation-for="input.Name" class="text-danger"></span>
            </div>
            <div class="form-group mt-4">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="mt-4">
    <a  asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

