@{
    ViewData["Title"] = "Xác thực email";
}

<div class="register-confirmation text-center">
    <h1>@ViewData["Title"].</h1>

    <p>
        Bạn đã hoàn thành xác thực email. 
        Hãy <a asp-controller="Account" asp-action="Login">bấm vào đây để đăng nhập</a>.
    </p>
</div>
