@{
    ViewData["Title"] = "Thông báo";
}


<div class="register-confirmation text-center">
    <h1>@ViewData["Title"]</h1>
    <p>
    Hãy kiểm tra hòm thư để biết cách xác thực tài khoản
    </p>
</div>

