*{
  box-sizing: border-box;
}
html {
  font-size: 14px;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
  .navbar-nav>li {
    float: left;
  }

  .navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}



body {
  height: auto;
  min-width: 100%;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  overflow-y: auto;

  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

form{
  margin-right: 10%;
  margin-left: 10%;
}

.container-small{
  margin: 30px auto 0;
  max-width:100%;
  width: 560px;
  border: 1px solid #ccc;
}

.form-group {
  padding-top: 10px;
}

.page-title{
  margin: 24px auto;
  text-align: center;
}
.navbar .nav-tabs{
  border: none;
}

.split-container{
  border: 1px solid #ccc;
  padding: 0;
}

.search-container{
  padding: 16px 0;
}

